@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,400;1,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Roboto', sans-serif;

    }

    body {
        overflow-x: hidden;
        background-color: #f5f5dc;
        width: 100%;
        height: 100%;
    }

    #about,
    #skills,
    #education,
    #projects {
        padding: 40px;
        display: none;
    }
    #connect{
        display:none;
    }
    nav {
        position: fixed;
        top: 0%;
    }

    footer {
        position: fixed;
        bottom: 0%;
        width: 100%;
    }

    .type-text {
        position: relative;
        color: #000;
        font-size: 30px;
        font-weight: 600;
    }

    .type-text.first-text {
        color: #000;
    }

    .text.sec-text:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-left: 2px solid red;
        animation: animate 4s steps(20) infinite;
    }
    .portfolio-500{
        background-color: #f5f5dc;
    }
    @keyframes appear {
        from{
            opacity: 0;
            scale: 0.5;
        }
        to{
            opacity: 1;
            scale: 1;
        }
    }
    .blocks{
        animation: appear 5s linear;
        animation-timeline:view() ;
        animation-range: entry 0% cover 40%;
    }
    @keyframes animate {

        40%,
        60% {
            left: calc(100% + 4px);
        }

        100% {
            left: 0%;
        }
    }
    #popup {
        display: none;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
    }

    .active {
        display: flex;
    }

    .blur {
        filter: blur(5px);
    }

    @media (min-width: 768px) {
        .show-more {
            display: inline-block;
        }
    }
}

.timeline:before {
    content: '';
    position: absolute;
    height: 100%;
    left: 50%;
    width: 2px;
    top: -20px;
    background: #fff;
    z-index: 1;
}

.timeline {
    position: relative;
    margin: 50px auto;
    width: 1000px;
    padding: 50px 0;
}


.timeline ul {
    margin: 0;
    padding: 0;
}

.timeline ul li {
    list-style: none;
    box-sizing: border-box;
    line-height: normal;
    position: relative;
    width: 50%;
    padding: 40px 70px;
}

.timeline ul li .right_content h2 {
    color: rgba(59, 112, 239, 1);
    padding: 0px 2px 18px 0px;
}

.timeline ul li:nth-child(odd) {
    float: left;
    text-align: right;
    clear: both;

}

.timeline ul li:nth-child(even) {
    float: right;
    text-align: left;
    clear: both;

}

.left_content {
    padding-bottom: 20px;
    background-color: #1f2937;
}

.timeline ul li:nth-child(odd):before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: rgba(59, 112, 239, 1);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(58, 112, 239, 0.2);
    right: -6px;
    top: 24px;
    z-index: 1;
}

.timeline ul li:nth-child(even):before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: rgba(59, 112, 239, 1);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(58, 112, 239, 0.2);
    left: -6px;
    top: 24px;
}

.timeline ul li:nth-child(odd) .left_content {
    position: absolute;
    top: 12px;
    right: -165px;
    margin: 0;
    padding: 8px 16px;

    color: #fff;
    box-shadow: 0 0 0 3px rgba(59, 112, 239, 0.3);
    border-radius: 18px;

}

.timeline ul li:nth-child(even) .left_content {
    position: absolute;
    top: 12px;
    left: -165px;
    margin: 0;
    padding: 8px 16px;

    color: #fff;
    box-shadow: 0 0 0 3px rgba(59, 112, 239, 0.3);
    border-radius: 18px;

}
.timeline h4{
    font-size: medium;
    font-weight: bold;
}
.timeline p{
    font-size: small;
    font-style: italic;
    color: #333;
}

@media (max-width: 1000px) {

    .timeline {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .timeline {
        width: 100%;
    }

    .timeline:before {
        left: 20px;
    }

    .timeline ul li:nth-child(odd),
    .timeline ul li:nth-child(even) {
        width: 100%;
        text-align: left;
        padding-left: 50px;
    }

    .timeline ul li:nth-child(odd):before {
        top: -18px;
        left: 16px;

    }

    .timeline ul li:nth-child(even):before {
        top: -18px;
        left: 16px;
    }

    .timeline ul li:nth-child(odd) .left_content,
    .timeline ul li:nth-child(even) .left_content {
        top: -30px;
        left: 50px;
        right: inherit;
    }


}